.box h2 {
  color: var(--slate-400);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* character episodes */

.character-episodes {
  /* border: 1px solid var(--slate-300); */
  background-color: var(--slate-800);
  border-radius: 1rem;
  padding: 1rem;
  max-height: 387px;
  overflow: auto;
}

.character-episodes::-webkit-scrollbar {
  width: 3px;
}
.character-episodes::-webkit-scrollbar-thumb {
  opacity: 0;
  visibility: hidden;
  border-radius: 1rem;
  background-color: #9ca3af;
}
.character-episodes:hover::-webkit-scrollbar-thumb {
  opacity: 1;
  visibility: visible;
}

.character-episodes .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.character-episodes .title .icon {
  transition: all 0.3s ease-in-out;
  color: var(--slate-300);
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-episodes h2 {
  color: var(--slate-400);
  margin-bottom: 0.6rem;
}

.character-episodes li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: var(--slate-200);
  padding: 0.5rem 0;
  /* cursor: pointer; */
}
