.btn {
  padding: 0.8rem 1rem;
  border-radius: 1rem;
}

.btn--primary {
  background-color: var(--slate-500);
  color: var(--slate-100);
  font-weight: 700;
}

.btn--secondary {
  border: 1px solid var(--slate-100);
  color: var(--slate-100);
  font-weight: 700;
}
